{% extends "base.html" %}

{% block title %} {{ user.email }} {% endblock %}

{% block content %}
{% include "includes/navbar.html" %}
<br />
<div class="container profile">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <img src="{{ user.avatar_url }}" class="card-img-top" alt="Profile Picture">
                <button class="btn btn-danger" type="button" data-bs-toggle="collapse"
                    data-bs-target="#avatar_form" aria-expanded="false"
                    aria-controls="avatar_form">Edit profile pic</button>
                <div class="card collapse multi-collapse" id="avatar_form">
                    <div class="card-body">
                        <form method="POST" enctype="multipart/form-data" action="{{ url_for('auth.upload_avatar') }}">
                            {{ avatar_form.hidden_tag() }}
                            {{ avatar_form.file(class="form-control") }}
                            {{ avatar_form.submit(class="btn btn-success") }}
                        </form>
                    </div>
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{ user.full_name }}</h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-envelope" viewBox="0 0 16 16">
                            <path
                                d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1zm13 2.383-4.708 2.825L15 11.105zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741M1 11.105l4.708-2.897L1 5.383z" />
                        </svg>
                        {{ user.email }}
                    </li>
                    <li class="list-group-item">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                            <path
                                d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6" />
                        </svg>
                        {{ user.location }}
                    </li>
                    <li class="list-group-item">
                        <a class="btn btn-warning" href="{{url_for('auth.edit_profile')}}">Edit profile</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    About Me
                </div>
                <div class="card-body">
                    <p class="card-text">{{ user.bio }}</p>
                </div>
            </div>
            <br>
            <div class="d-flex flex-row-reverse">
                <a href="{{ url_for('main.create_post') }}" class="btn btn-primary">Create post</a>
            </div>
            <div class="card mt-3">
                
                <div class="card-header">
                    Posts
                </div>
                <div class="card-body">
                    {% for i in posts %}
                    <div class="card">
                        <div class="card-header">{{ i.title }}</div>
                        <div class="card-body">
                            {{ i.description }}
                            {% if i.applications %}
                            <br /><br />
                            <a href="{{ url_for('main.view_applications', id=i.id) }}" class="btn btn-success">Applications <span class="badge text-bg-secondary">{{
                                    i.applications|length }}</span></a href="{{ url_for('main.view_applications', id=i.id) }}">

                            {% endif %}
                        </div>
                    </div>
                    <br />
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}