{% extends "base.html" %}

{% block title %}U-Connect{% endblock %}

{% block content %}
{% include "includes/navbar.html" %}

<div class="container">
    {% for i in applications %}

    <div class="card">
        <div class="card-header">
            {{i.user.full_name}}
        </div>

        <div class="card-body">
            {{i.message}}
            <hr>
            {{ i.user.email }}
            <br>
            <a href="{{i.resume_link}}">Download Resume</a>
        </div>
        <div class="card-footer">
            <form method="post" action="{{url_for('main.assign_appications', aid=i.id)}}">
                {{assign_form.project(class_="form-control")}}
                <br>
                <input type="submit" value="assign" class="btn btn-primary">
            </form>
        </div>
    {% endfor %}
    <br>
</div>

{% endblock %}