{%extends "base.html"%}

{%block title%}U-Connect{%endblock%}

{%block content%}
{% include "includes/navbar.html" %}

<br>
<div class="container">
    <h3>Project: {{project.title}}</h3>
    <a href="{{ url_for('main.create_ticket', id=project.id) }}" class="btn btn-primary">Create Ticket</a>
    <a href="{{ url_for('main.auto_assign_ticket', pid=project.id) }}" class="btn btn-secondary">Auto assign</a>
    <div class = "row">

        <div class="col">
            UNASSIGNED
            <hr>

            {%for ticket in tickets%}
                {% if ticket.status==TicketStatus.UNASSIGNED%}
                    <div class="card">
                        <div class="card-header">
                            {{ticket.id}}
                        </div>
                        <div class="card-body">
                            {{ticket.description}}
                        </div>
                        <div class="card-footer">
                            {{ticket.timestamp}}
                            <br>
                            <br>
                            <form action="{{ url_for('main.assign_ticket', pid=project.id, tid=ticket.id) }}" method="post">
                                {{assign_ticket_form.csrf_token()}}
                                {{assign_ticket_form.assignee.label}}
                                {{assign_ticket_form.assignee(class="form-control")}}
                                <button type="submit" class="btn btn-primary">Assign</button>
                            </form>
                            <br >
                            {%if is_admin%}
                            <a class = "btn btn-danger" href="{{url_for('main.delete_ticket', pid=ticket.project_id, tid=ticket.id)}}">Delete</a>
                            <a href="{{ url_for('main.complete_ticket', pid=project.id, tid=ticket.id) }}" class="btn btn-secondary">Mark as complete</a>
                            {%endif%}
                        </div>
                    </div>
                {%endif%}
                <br>
            {%endfor%}
        </div>
        <div class="col">
            ASSIGNED
            <hr>
            {%for ticket in tickets%}
                {% if ticket.status==TicketStatus.ASSIGNED%}
                    <div class="card">
                        <div class="card-header">
                            {{ticket.id}}
                        </div>
                        <div class="card-body">
                            {{ticket.description}}
                        </div>
                        <div class="card-footer">
                            {{ticket.timestamp}}
                            <br>
                            currently assigned to: {{ticket.user.full_name}}
                            <br>
                            <form action="{{ url_for('main.assign_ticket', pid=project.id, tid=ticket.id) }}" method="post">
                                {{assign_ticket_form.csrf_token()}}
                                Reassign
                                {{assign_ticket_form.assignee(class="form-control", value=ticket.user.id)}}
                                <button type="submit" class="btn btn-primary">Assign</button>
                            </form>
                            <br>
                            {%if is_admin%}
                            <a class = "btn btn-danger" href="{{url_for('main.delete_ticket', pid=ticket.project_id, tid=ticket.id)}}">Delete</a>
                            <a href="{{ url_for('main.complete_ticket', pid=project.id, tid=ticket.id) }}" class="btn btn-secondary">Mark as complete</a>
                            {%endif%}
                        </div>
                    </div>
                {%endif%}
                <br>
            {%endfor%}
        </div>
        <div class="col">
            COMPLETED
            <hr>
            {%for ticket in tickets%}
                {% if ticket.status==TicketStatus.COMPLETED%}
                    <div class="card">
                        <div class="card-header">
                            {{ticket.id}}
                        </div>
                        <div class="card-body">
                            {{ticket.description}}
                        </div>
                        <div class="card-footer">
                            {{ticket.timestamp}}
                            <br>
                            {%if is_admin%}
                            <a class = "btn btn-danger" href="{{url_for('main.delete_ticket', pid=ticket.project_id, tid=ticket.id)}}">Delete</a>
                            <a href="{{ url_for('main.reopen_ticket', pid=project.id, tid=ticket.id) }}" class="btn btn-secondary">Reopen</a>
                            {%endif%}
                        </div>
                    </div>
                    <br>
                {%endif%}
            {%endfor%}
        </div>
    </div>
</div>
{%endblock%}